In [1]:
import pandas as pd

In [2]:
#df=pd.read_csv('care_home.csv')
df=pd.read_csv('care_home.csv')
df.head()

,Resident_ID,Age_Group,Gender,Length_of_Stay_Months,Primary_Condition,Mobility_Level,Cognitive_Status,Nutrition_Intake_Score,Hydration_Monitoring_Frequency,Sleep_Quality,Activity_Participation_Per_Week,Family_Contact_Frequency,Staff_Consistency_Score,Pain_Managed,Emotional_Wellbeing_Indicator,Early_Support_Provided,Wellbeing_Score
0,R001,85+,Female,45,Dementia,Independent,NaN,4,Twice Daily,Good,3,Weekly,4,Yes,Low Mood,Yes,72
1,R002,75–84,Female,59,Frailty,Independent,Severe,4,Ad-hoc,Fair,0,Rare,5,Yes,Stable,No,83
2,R003,75–84,Female,48,Physical Disability,Independent,Mild,3,Daily,Poor,0,Monthly,2,Yes,Low Mood,No,69
3,R004,65–74,Male,62,Physical Disability,Assisted,Mild,3,Daily,Fair,3,Weekly,5,No,Distressed,No,80
4,R005,75–84,Female,38,Physical Disability,Independent,Mild,2,Ad-hoc,Good,7,Monthly,2,Yes,Stable,No,60

In [3]:
#df.describe()
df.describe(include='all')

,Resident_ID,Age_Group,Gender,Length_of_Stay_Months,Primary_Condition,Mobility_Level,Cognitive_Status,Nutrition_Intake_Score,Hydration_Monitoring_Frequency,Sleep_Quality,Activity_Participation_Per_Week,Family_Contact_Frequency,Staff_Consistency_Score,Pain_Managed,Emotional_Wellbeing_Indicator,Early_Support_Provided,Wellbeing_Score
count,250,250,250,250.000000,250,250,194,250.000000,250,250,250.000000,250,250.00000,250,250,250,250.000000
unique,250,3,2,NaN,4,3,3,NaN,3,3,NaN,3,NaN,2,3,2,NaN
top,R001,75–84,Female,NaN,Dementia,Independent,Mild,NaN,Daily,Fair,NaN,Weekly,NaN,Yes,Low Mood,No,NaN
freq,1,86,134,NaN,79,102,72,NaN,102,91,NaN,109,NaN,133,99,136,NaN
mean,NaN,NaN,NaN,38.776000,NaN,NaN,NaN,3.388000,NaN,NaN,3.560000,NaN,3.55600,NaN,NaN,NaN,75.960000
std,NaN,NaN,NaN,20.827794,NaN,NaN,NaN,1.132513,NaN,NaN,2.478502,NaN,1.10442,NaN,NaN,NaN,12.381422
min,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,2.000000,NaN,NaN,0.000000,NaN,2.00000,NaN,NaN,NaN,55.000000
25%,NaN,NaN,NaN,22.250000,NaN,NaN,NaN,2.000000,NaN,NaN,1.000000,NaN,3.00000,NaN,NaN,NaN,65.000000
50%,NaN,NaN,NaN,37.000000,NaN,NaN,NaN,3.000000,NaN,NaN,3.500000,NaN,4.00000,NaN,NaN,NaN,77.500000
75%,NaN,NaN,NaN,56.000000,NaN,NaN,NaN,4.000000,NaN,NaN,6.000000,NaN,5.00000,NaN,NaN,NaN,87.000000
max,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,5.000000,NaN,NaN,7.000000,NaN,5.00000,NaN,NaN,NaN,95.000000

In [4]:
df.isnull().sum()

Resident_ID                         0
Age_Group                           0
Gender                              0
Length_of_Stay_Months               0
Primary_Condition                   0
Mobility_Level                      0
Cognitive_Status                   56
Nutrition_Intake_Score              0
Hydration_Monitoring_Frequency      0
Sleep_Quality                       0
Activity_Participation_Per_Week     0
Family_Contact_Frequency            0
Staff_Consistency_Score             0
Pain_Managed                        0
Emotional_Wellbeing_Indicator       0
Early_Support_Provided              0
Wellbeing_Score                     0
dtype: int64

In [5]:
df['Cognitive_Status'] = df['Cognitive_Status'].replace('none', 'No Issues')

In [6]:
df['Cognitive_Status'].unique()

array([nan, 'Severe', 'Mild', 'Moderate'], dtype=object)

In [7]:
df.columns

Index(['Resident_ID', 'Age_Group', 'Gender', 'Length_of_Stay_Months',
       'Primary_Condition', 'Mobility_Level', 'Cognitive_Status',
       'Nutrition_Intake_Score', 'Hydration_Monitoring_Frequency',
       'Sleep_Quality', 'Activity_Participation_Per_Week',
       'Family_Contact_Frequency', 'Staff_Consistency_Score', 'Pain_Managed',
       'Emotional_Wellbeing_Indicator', 'Early_Support_Provided',
       'Wellbeing_Score'],
      dtype='object')

In [8]:
df['Cognitive_Status'] = df['Cognitive_Status'].fillna('No Issues')

In [9]:
df['Wellbeing_Score'].describe()

count    250.000000
mean      75.960000
std       12.381422
min       55.000000
25%       65.000000
50%       77.500000
75%       87.000000
max       95.000000
Name: Wellbeing_Score, dtype: float64

In [10]:
df.groupby('Activity_Participation_Per_Week')['Wellbeing_Score'].mean()

Activity_Participation_Per_Week
0    72.657895
1    74.451613
2    78.821429
3    74.892857
4    77.851852
5    75.000000
6    80.032258
7    75.200000
Name: Wellbeing_Score, dtype: float64

In [11]:
df.groupby('Staff_Consistency_Score')['Wellbeing_Score'].mean()

Staff_Consistency_Score
2    75.509091
3    75.567164
4    76.596774
5    76.136364
Name: Wellbeing_Score, dtype: float64

In [12]:
df.groupby('Hydration_Monitoring_Frequency')['Wellbeing_Score'].mean()

Hydration_Monitoring_Frequency
Ad-hoc         77.384615
Daily          74.235294
Twice Daily    76.885714
Name: Wellbeing_Score, dtype: float64

In [13]:
df.groupby('Mobility_Level')['Wellbeing_Score'].mean()

Mobility_Level
Assisted        77.590361
High Support    75.430769
Independent     74.970588
Name: Wellbeing_Score, dtype: float64

In [14]:
df.groupby('Cognitive_Status')['Wellbeing_Score'].mean()

Cognitive_Status
Mild         75.333333
Moderate     75.746269
No Issues    74.892857
Severe       78.127273
Name: Wellbeing_Score, dtype: float64

In [17]:
df[['Wellbeing_Score',
    'Activity_Participation_Per_Week',
    'Staff_Consistency_Score',
    'Nutrition_Intake_Score',
    ]].corr()

,Wellbeing_Score,Activity_Participation_Per_Week,Staff_Consistency_Score,Nutrition_Intake_Score
Wellbeing_Score,1.000000,0.083835,0.025716,-0.010345
Activity_Participation_Per_Week,0.083835,1.000000,0.058921,-0.049104
Staff_Consistency_Score,0.025716,0.058921,1.000000,-0.060788
Nutrition_Intake_Score,-0.010345,-0.049104,-0.060788,1.000000

In [18]:
df[['Wellbeing_Score',
    'Activity_Participation_Per_Week',
    'Staff_Consistency_Score',
    'Nutrition_Intake_Score']].corr()

,Wellbeing_Score,Activity_Participation_Per_Week,Staff_Consistency_Score,Nutrition_Intake_Score
Wellbeing_Score,1.000000,0.083835,0.025716,-0.010345
Activity_Participation_Per_Week,0.083835,1.000000,0.058921,-0.049104
Staff_Consistency_Score,0.025716,0.058921,1.000000,-0.060788
Nutrition_Intake_Score,-0.010345,-0.049104,-0.060788,1.000000

In [19]:
df['Hydration_Monitoring_Frequency'].value_counts()

Hydration_Monitoring_Frequency
Daily          102
Ad-hoc          78
Twice Daily     70
Name: count, dtype: int64

In [20]:
df.groupby('Hydration_Monitoring_Frequency')['Wellbeing_Score'].mean()

Hydration_Monitoring_Frequency
Ad-hoc         77.384615
Daily          74.235294
Twice Daily    76.885714
Name: Wellbeing_Score, dtype: float64

In [21]:
df.groupby('Sleep_Quality')['Wellbeing_Score'].mean()

Sleep_Quality
Fair    74.395604
Good    76.853933
Poor    76.857143
Name: Wellbeing_Score, dtype: float64

In [22]:
df.groupby('Pain_Managed')['Wellbeing_Score'].mean()

Pain_Managed
No     76.222222
Yes    75.729323
Name: Wellbeing_Score, dtype: float64

In [23]:
df.groupby('Emotional_Wellbeing_Indicator')['Wellbeing_Score'].mean()

Emotional_Wellbeing_Indicator
Distressed    77.953488
Low Mood      74.404040
Stable        75.692308
Name: Wellbeing_Score, dtype: float64

In [24]:
df.groupby('Family_Contact_Frequency')['Wellbeing_Score'].mean()

Family_Contact_Frequency
Monthly    77.692308
Rare       73.984127
Weekly     75.862385
Name: Wellbeing_Score, dtype: float64

In [25]:
pip install psycopg2-binary sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\ashna\appdata\roaming\python\python313\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install psycopg2-binary sqlalchemy

In [31]:
from sqlalchemy import create_engine

username = 'postgres'
password = 'Austintom123.'
host = 'localhost'
port = '5432'
database = 'care_home'

engine = create_engine(
    f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'
)

table_name = "carehome"

df.to_sql(
    table_name,
    engine,
    if_exists="replace",
    index=False
)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'carehome' in database 'care_home'.